.box-image-text {
  &__wrap {
    margin-top: 40px;

    @include susy-media(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    padding-right: 20px;
  }

  &__image {
    min-width: 200px;

    @include susy-media(desktop) {
      min-width: 300px;
    }

    @include susy-media(mobileOnly) {
      text-align: center;

      img {
        max-width: 200px;
      }
    }
  }
}
