html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

audio,
canvas,
video {
  display: inline-block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none; }

a img {
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

img {
  font-size: 0;
  height: auto; }

img,
object,
embed {
  max-width: 100%; }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.eot?") format("eot"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url('../fonts/OpenSans-Light.svg#str-replace(OpenSans, " ", "_")') format("svg"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.eot?") format("eot"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url('../fonts/OpenSans-Regular.svg#str-replace(OpenSans, " ", "_")') format("svg"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.eot?") format("eot"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url('../fonts/OpenSans-Bold.svg#str-replace(OpenSans, " ", "_")') format("svg"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-SemiBold.eot?") format("eot"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url('../fonts/OpenSans-SemiBold.svg#str-replace(OpenSans, " ", "_")') format("svg"); }

@media (min-width: 992px) {
  .container {
    max-width: 1180px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1200px; } }

@media (max-width: 991px) {
  .container {
    max-width: inherit;
    padding: 0 20px; } }

@media (max-width: 479px) {
  .container {
    max-width: inherit;
    padding: 0 15px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.9375rem; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.875rem; }

h6 {
  font-size: 0.75rem; }

a,
.link {
  color: #c1392b;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer; }
  a:active, a:hover,
  .link:active,
  .link:hover {
    color: #bd382a; }
  .text--white a,
  .link--white {
    color: #fff; }
    .text--white a:active, .text--white a:hover,
    .link--white:active,
    .link--white:hover {
      color: #d9d9d9; }

p {
  margin-bottom: 0.9375rem; }

em {
  font-style: italic; }

b,
strong {
  font-weight: 700; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super; }

small {
  font-size: smaller; }

abbr {
  border-bottom: 1px dotted #282828;
  cursor: help; }

tt,
code,
kbd,
samp {
  font-family: monospace; }

ol,
ul {
  padding-left: 1.125rem;
  margin-bottom: 0.9375rem; }

label {
  font-weight: 700; }

blockquote p {
  display: inline; }

blockquote:before {
  content: '\201c'; }

blockquote:after {
  content: '\201d'; }

iframe {
  max-width: 100%; }

figure {
  line-height: 0; }

#reg_frm {
  max-width: 900px;
  margin: 0 auto;
  z-index: 99;
}

.box-register {
    padding-top: 30px;
    z-index: 99;
    position: relative;
}

.btn {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: none;
  border-radius: 5px;
  border: 2px solid #c1392b;
  box-shadow: none;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  outline: none;
  padding: 9px 15px;
  text-align: center;
  text-shadow: none;
  transition: all .3s ease;
  background: #c1392b;
  color: #282828;
  cursor: pointer;
  outline: 0;
  min-width: 125px;
  border-radius: 50px;
  font-weight: 400;
  color: #fff; }

  .btn:focus {
    box-shadow: none; }

  .btn:active,
  .btn:hover {
    border-color: #bd382a;
    background: #bd382a;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    color: #fff; }

  .btn--outline {
    background: none;
    color: #fff;
    border-color: #e09c95; }

    .btn--outline:hover {
      background: #fff;
      border-color: #fff;
      color: #c1392b; }

  .btn--large {
    font-size: 22px;
    padding: 10px 35px;
    min-width: 220px; }
    @media (min-width: 1280px) {

      .btn--large {
        font-size: 32px; } }

  .btn--bg-white {
    background: #fff;
    border-color: #fff;
    color: #c1392b;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 30px;
    text-transform: uppercase; }

    .btn--bg-white:hover {
      background: #c1392b;
      border-color: #fff;
      color: #fff; }

input[type='tel'],
.form-url,
.form-search,
.form-email,
.form-text,
.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 0.0625rem solid #ccc;
  box-shadow: inherit;
  box-sizing: border-box;
  color: #282828;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 0;
  transition: all .3s ease-in-out;
  width: 100%;
  border-radius: 0; }
  input[type='tel']::-ms-clear,
  .form-url::-ms-clear,
  .form-search::-ms-clear,
  .form-email::-ms-clear,
  .form-text::-ms-clear,
  .form-control::-ms-clear {
    display: none; }
  input[type='tel']::-webkit-input-placeholder,
  .form-url::-webkit-input-placeholder,
  .form-search::-webkit-input-placeholder,
  .form-email::-webkit-input-placeholder,
  .form-text::-webkit-input-placeholder,
  .form-control::-webkit-input-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  input[type='tel']::-moz-placeholder,
  .form-url::-moz-placeholder,
  .form-search::-moz-placeholder,
  .form-email::-moz-placeholder,
  .form-text::-moz-placeholder,
  .form-control::-moz-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  input[type='tel']:-ms-input-placeholder,
  .form-url:-ms-input-placeholder,
  .form-search:-ms-input-placeholder,
  .form-email:-ms-input-placeholder,
  .form-text:-ms-input-placeholder,
  .form-control:-ms-input-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  input[type='tel']:-moz-placeholder,
  .form-url:-moz-placeholder,
  .form-search:-moz-placeholder,
  .form-email:-moz-placeholder,
  .form-text:-moz-placeholder,
  .form-control:-moz-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  input[type='tel']:focus,
  .form-url:focus,
  .form-search:focus,
  .form-email:focus,
  .form-text:focus,
  .form-control:focus {
    box-shadow: none;
    outline: 0 none; }
  input.error[type='tel'],
  .error.form-url,
  .error.form-search,
  .error.form-email,
  .error.form-text,
  .form-control.error {
    border-color: #c1392b;
    color: #c1392b; }
    input.error[type='tel']::-webkit-input-placeholder,
    .error.form-url::-webkit-input-placeholder,
    .error.form-search::-webkit-input-placeholder,
    .error.form-email::-webkit-input-placeholder,
    .error.form-text::-webkit-input-placeholder,
    .form-control.error::-webkit-input-placeholder {
      color: #c1392b; }
    input.error[type='tel']::-moz-placeholder,
    .error.form-url::-moz-placeholder,
    .error.form-search::-moz-placeholder,
    .error.form-email::-moz-placeholder,
    .error.form-text::-moz-placeholder,
    .form-control.error::-moz-placeholder {
      color: #c1392b; }
    input.error[type='tel']:-ms-input-placeholder,
    .error.form-url:-ms-input-placeholder,
    .error.form-search:-ms-input-placeholder,
    .error.form-email:-ms-input-placeholder,
    .error.form-text:-ms-input-placeholder,
    .form-control.error:-ms-input-placeholder {
      color: #c1392b; }
    input.error[type='tel']:-moz-placeholder,
    .error.form-url:-moz-placeholder,
    .error.form-search:-moz-placeholder,
    .error.form-email:-moz-placeholder,
    .error.form-text:-moz-placeholder,
    .form-control.error:-moz-placeholder {
      color: #c1392b; }
    input.error[type='tel']:focus,
    .error.form-url:focus,
    .error.form-search:focus,
    .error.form-email:focus,
    .error.form-text:focus,
    .form-control.error:focus {
      box-shadow: 0 0 0.3125rem #c1392b;
      outline: 0 none; }
  input[disabled][type='tel'],
  [disabled].form-url,
  [disabled].form-search,
  [disabled].form-email,
  [disabled].form-text,
  .form-control[disabled] {
    cursor: not-allowed; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url("../images/icon-down.png");
  background-position: calc(100% - 15px) 50%;
  background-repeat: no-repeat;
  background-size: 10px auto;
  border: 0;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  padding: 14px 0;
  margin-bottom: 0.625rem;
  background-color: #fff;
  border-radius: 0;
  width: 100%;
  margin: 0;
  color: #8d8d8d; }
  select option {
    color: #282828; }
  select:focus {
    color: #282828; }
  select [placeholder] {
    color: #8d8d8d; }
  select:focus, select:hover, select:active {
    outline: none; }
  select::-ms-expand {
    display: none; }
  select option {
    width: 100%; }

label {
  font-weight: 300; }
  @media (max-width: 479px) {
    label {
      font-size: 16px; } }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--dark {
  color: #282828; }

.text--yellow {
  color: #f2d46c; }

.text--white {
  color: #fff; }

.box-description {
  margin-bottom: 30px; }
  @media (min-width: 480px) {
    .box-description {
      padding-left: 38px;
      margin-bottom: 50px; } }

.padding-component {
  padding: 40px 0; }
  @media (min-width: 1024px) {
    .padding-component {
      padding: 40px 0; } }

.section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px; }
  @media (min-width: 64em) {
    .section-title {
      font-size: 30px; } }

.section-description {
  font-size: 15px;
  text-align: center;

  margin-bottom: 50px; }

.bg-type-1 {
  background: #c1392b;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 40px;
  margin-bottom: 50px; }
  .bg-type-1:before {
    background: url("../images/bg-style-1.png") no-repeat scroll 0 0 #fff;
    background-size: 100% auto;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 100px; }
    @media (min-width: 64em) {
      .bg-type-1:before {
        height: 139px; } }
    @media (min-width: 80em) {
      .bg-type-1:before {
        height: 250px; } }
    @media (min-width: 100em) {
      .bg-type-1:before {
        height: 270px;
        bottom: -25px; } }

.bg-type-2 {
  background: url("../images/bg-image-red.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  min-height: 501px;
  padding: 160px 0 120px; }
  @media (min-width: 80em) {
    .bg-type-2 {
      padding: 120px 0 120px; } }
  @media screen and (max-width: 63.9375em) {
    .bg-type-2 {
      background: #cf2c0e;
      background-size: 100% auto;
      position: relative;
      padding: 30px 0;
      min-height: inherit;
      margin: 100px 0; }
      .bg-type-2:before {
        background: url("../images/bg-image-1-top.jpg") no-repeat scroll 0 0 transparent;
        background-size: 100% auto;
        background-position: center bottom;
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        top: -144px;
        width: 100%;
        height: 144px; } }
    @media screen and (max-width: 63.9375em) and (min-width: 100em) {
      .bg-type-2:before {
        height: 250px;
        top: -240px; } }
  @media screen and (max-width: 63.9375em) {
      .bg-type-2:after {
        background: url("../images/bg-image-1-bottom.jpg") no-repeat scroll 0 0 transparent;
        background-size: 100% auto;
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        bottom: -140px;
        width: 100%;
        height: 140px; } }
    @media screen and (max-width: 63.9375em) and (min-width: 100em) {
      .bg-type-2:after {
        height: 250px;
        bottom: -240px; } }
  @media screen and (max-width: 47.9375em) {
    .bg-type-2 {
      margin: 50px 0; } }

.bg-type-3 {
  background: url("../images/bg-image-type2-bottom.png") no-repeat scroll 0 0 #fff;
  background-size: 100% auto;
  background-position: center bottom;
  color: #fff;
  text-align: center;
  padding: 40px 0 20px;
  position: relative;
  margin: 70px 0 0; }
  @media (min-width: 48em) {
    .bg-type-3 {
      margin: 125px 0 0;
      padding: 40px 0 0px; } }
  .bg-type-3:before {
    background: url("../images/bg-image-type2.png") no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    background-position: center bottom;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    top: -190px;
    width: 100%;
    height: 190px; }
    @media (min-width: 100em) {
      .bg-type-3:before {
        height: 260px;
        top: -255px; } }
  .bg-type-3:after {
    background: #272b32;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    bottom: 140px;
    top: 0;
    width: 100%; }
    @media (min-width: 48em) {
      .bg-type-3:after {
        bottom: 255px; } }
    @media (min-width: 100em) {
      .bg-type-3:after {
        bottom: 340px;
        top: 5px; } }

.bg-type-4 {
  background: #c1392b;
  color: #fff;
  text-align: center;
  position: relative;
  margin: 109px 0 130px;
  padding: 40px 0 0px; }
  @media (min-width: 100em) {
    .bg-type-4 {
      margin: 110px 0 60px; } }
  .bg-type-4:before {
    background: url("../images/bg-type3-top.png") no-repeat scroll 0 0 transparent;
    background-size: 100% auto;
    background-position: center bottom;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    top: -144px;
    width: 100%;
    height: 144px; }
    @media (min-width: 100em) {
      .bg-type-4:before {
        height: 250px;
        top: -240px; } }
  .bg-type-4:after {
    background: url("../images/bg-type3-bottom.png") no-repeat scroll 0 0 #fff;
    background-size: 100% auto;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    bottom: -140px;
    width: 100%;
    height: 141px; }
    @media (min-width: 100em) {
      .bg-type-4:after {
        height: 200px;
        bottom: -80px; } }
.container {
    position: relative;
    z-index: 99;
}
.tel {
  margin-top: 30px; }

.red {
  color: #c1392b;
  font-size: 14px; }

.group-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  margin-bottom: 30px; }
  @media (min-width: 64em) {
    .group-icon {
      margin-bottom: 50px; } }
  @media screen and (max-width: 47.9375em) {
    .group-icon {
      max-width: 270px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto; } }
  .group-icon img {
    max-width: 80px; }
    @media (min-width: 64em) {
      .group-icon img {
        max-width: 110px; } }

.list-icon li {
  list-style: none;
  padding-left: 50px;
  background: url("../images/icon-search.png") no-repeat scroll 0 0 transparent;
  background-size: 30px auto;
  padding-bottom: 20px;
  padding-top: 10px;
  background-position: 0 8px; }

.list-icon .icon-search {
  background-image: url("../images/icon-search.png"); }

.list-icon .icon-money {
  background-image: url("../images/icon-money.png"); }

.list-icon .icon-tag {
  background-image: url("../images/icon-tag.png"); }

.text-bold caption, .text-bold th, .text-bold td {
  font-weight: 600;
  color: #363636; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@media (min-width: 1024px) {
.box-hero {
  padding-bottom: 80px;
  margin-bottom: 40px;
  padding-top: 40px; }
}
@media (min-width: 1600px) {
.box-hero {
  padding-bottom: 80px;
  margin-bottom: 0;
  padding-top: 40px; }
}
  .box-hero .section-title {
    text-transform: capitalize; }
  .box-hero .section-description {
    margin-bottom: 28px; }
  .box-hero .container {
    position: relative;
    z-index: 9; }
  .box-hero__link {
    margin-bottom: 20px;
    position: relative;
    z-index: 2; }
    @media (min-width: 48em) {
      .box-hero__link {
        margin-bottom: 0; } }
  @media screen and (max-width: 63.9375em) {
    .box-hero__image {
      padding: 0 50px; } }

.box-image-text__wrap {
  margin-top: 40px; }
  @media (min-width: 48em) {
    .box-image-text__wrap {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 1000px;
      margin: 40px auto 0;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
.box-image-text {
  margin-top: 40px;
}
.box-image-text__content {
  padding-right: 20px; }

.box-image-text__image {
  min-width: 200px; }
  @media (min-width: 64em) {
    .box-image-text__image {
      min-width: 300px; } }
  @media screen and (max-width: 47.9375em) {
    .box-image-text__image {
      text-align: center; }
      .box-image-text__image img {
        max-width: 200px; } }

.box-loiich__content {
  margin-top: 30px; }
  @media (min-width: 48em) {
    .box-loiich__content {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 55px; } }

.box-loiich__item {
  margin-bottom: 20px; }
  @media (min-width: 48em) {
    .box-loiich__item {
      width: calc((100% - 120px) / 5);
      margin-bottom: 0; } }

.box-loiich__image {
  margin-bottom: 15px; }

.box-loiich__description {
  text-align: left; }

.box-client__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 80em) {
    .box-client__content {
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.box-client__item {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px; }
  @media (min-width: 48em) {
    .box-client__item {
      width: calc((100%) / 5);
      padding: 0 15px;
      margin-bottom: 0; } }

.box-client__name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px; }
  @media (min-width: 64em) {
    .box-client__name {
      font-size: 18px; } }

.box-client__position {
  text-align: left;
  margin-bottom: 15px; }

.box-client__description {
  text-align: justify;
  margin-bottom: 20px;
  padding: 30px;
  position: relative; }
  .box-client__description:before {
    position: absolute;
    content: '';
    background: url("../images/quote.png") no-repeat scroll 0 0 transparent;
    width: 25px;
    height: 25px;
    left: -5px;
    top: 30px; }

.box-client__website {
  text-align: left; }

.box-video .section-description {
  margin-bottom: 0; }

.box-video__video {
  background: url("../images/macbook.png") no-repeat scroll center center transparent;
  padding-bottom: 188px;
  padding-top: 100px; }
  @media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .box-video__video {
      background-size: 660px auto;
      padding-bottom: 130px;
      padding-top: 70px; } }
  @media screen and (max-width: 47.9375em) {
    .box-video__video {
      background-size: 345px auto;
      padding-bottom: 80px;
      padding-top: 60px; } }

.box-video .container {
  position: relative;
  z-index: 9; }

.box-video iframe {
  position: relative;
  right: -2px; }
  @media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .box-video iframe {
      width: 510px;
      height: 315px; } }
  @media screen and (max-width: 47.9375em) {
    .box-video iframe {
      width: 262px;
      height: 170px;
      right: 0px; } }

.box-price {
  padding-top: 0;
  padding-bottom: 50px; }
  .box-price__wrap {
    box-shadow: 0 0 15px 0px #ccc; }
  .box-price__content {
    padding: 30px; }
    @media screen and (max-width: 47.9375em) {
      .box-price__content {
        padding: 20px; } }
  .box-price__title {
    background-color: #c1392b;
    padding: 10px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    position: relative; }
    @media (min-width: 48em) {
      .box-price__title {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 47.9375em) {
      .box-price__title {
        font-size: 15px; } }
    .box-price__title span {
      font-size: 14px;
      margin-left: 10px; }
      @media screen and (max-width: 47.9375em) {
        .box-price__title span {
          width: 100%;
          display: inline-block;
          margin: 0;
          font-size: 10px; } }
    .box-price__title:before, .box-price__title:after {
      content: '';
      background: url("../images/bg-title.png") no-repeat scroll 0 0 transparent;
      height: 100%;
      height: 79px;
      width: 11px;
      top: 0;
      position: absolute; }
      @media screen and (max-width: 47.9375em) {
        .box-price__title:before, .box-price__title:after {
          background-size: auto 65px; } }
    .box-price__title:before {
      left: -10px; }
    .box-price__title:after {
      background: url("../images/bg-title-right.png") no-repeat scroll 0 0 transparent;
      right: -10px;
      -webkit-transform: skewX(-360deg);
          -ms-transform: skewX(-360deg);
              transform: skewX(-360deg); }
      @media screen and (max-width: 47.9375em) {
        .box-price__title:after {
          background-size: auto 65px; } }
  .box-price__step {
    margin-bottom: 15px; }
    .box-price__step img {
      padding-left: 50px;
      padding-right: 50px; }
      @media (min-width: 64em) {
        .box-price__step img {
          padding-left: 65px; } }
      @media screen and (max-width: 47.9375em) {
        .box-price__step img {
          display: none; } }
    .box-price__step span {
      margin-right: 35px; }
      @media (min-width: 64em) {
        .box-price__step span {
          margin-right: 70px; } }
      @media screen and (max-width: 47.9375em) {
        .box-price__step span {
          display: block; }
          .box-price__step span:before {
            content: '';
            width: 7px;
            height: 7px;
            background: #fdd882;
            display: inline-block;
            border-radius: 100%;
            margin-right: 10px;
            position: relative;
            bottom: 2px; } }
      .box-price__step span:last-child {
        margin-right: 0; }
  .box-price__pay {
    margin-bottom: 15px; }
    @media screen and (max-width: 47.9375em) {
      .box-price__pay {
        text-align: center; } }
    @media (min-width: 48em) {
      .box-price__pay {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .box-price__pay .title {
      font-weight: 600; }
      @media screen and (max-width: 47.9375em) {
        .box-price__pay .title {
          margin-bottom: 10px; } }
    .box-price__pay .pay-step {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 20px; }
      .box-price__pay .pay-step span {
        width: 20px;
        height: 20px;
        background-color: #fdd882;
        color: #c1392b;
        display: inline-block;
        border-radius: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-right: 40px;
        position: relative; }
        .box-price__pay .pay-step span:before {
          content: '+';
          position: absolute;
          right: -20px;
          color: #222; }
        .box-price__pay .pay-step span:last-child {
          margin-right: 0; }
          .box-price__pay .pay-step span:last-child:before {
            display: none; }
  .box-price__body .step {
    margin-bottom: 15px; }
    .box-price__body .step:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #c1392b;
      color: #fff;
      text-align: center;
      margin-right: 5px;
      border-radius: 100%; }
  .box-price__body .first-step:before {
    content: '1'; }
  .box-price__body .second-step:before {
    content: '2'; }
  .box-price__body .third-step:before {
    content: '3'; }
  .box-price__body .fourth-step:before {
    content: '4'; }

.table {
  background: #f5f5f5; }
  @media screen and (max-width: 47.9375em) {
    .table {
      display: inline-block;
      overflow: auto;
      width: 100%;
      max-width: inherit; } }
  .table thead th {
    background: #c1392b;
    color: #fff;
    border-right: 1px solid #fff;
    border-bottom: 2px solid #fff; }
  .table th, .table td {
    border-right: 1px solid #fff; }
    @media screen and (max-width: 47.9375em) {
      .table th, .table td {
        min-width: 125px; } }
  .table tbody tr:nth-child(even) td,
  .table tbody tr:nth-child(even) th {
    background: #ececec; }

.box-register {
  padding-top: 30px; }
  .box-register .btn {
    text-transform: uppercase;
    padding: 15px 40px; }
  .box-register__form {
    position: relative;
    z-index: 99;
    max-width: 695px;
    margin: 55px auto 0; }
  .box-register .form-wrap {
    margin-top: 30px;
    text-align: center; }
    .box-register .form-wrap .btn {
      font-size: 24px;
      text-transform: uppercase;
      padding: 16px 50px; }

  .box-intro__title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px; }
  .box-intro__image {
    margin-bottom: 20px; }
    @media screen and (max-width: 63.9375em) {
      .box-intro__image img {
        max-width: 150px; } }
  @media screen and (max-width: 47.9375em) {
    .box-intro__item {
      margin-bottom: 20px; } }

.box-congcu {
  margin-bottom: -30px;
  padding-top: 40px; }
  @media (min-width: 1600px) {
    .box-congcu {
      margin-bottom: -30px;
      padding-top: 40px; }
  }
  .box-congcu__content h3 {
    font-size: 16px;
    text-align: center; }
    @media (min-width: 64em) {
      .box-congcu__content h3 {
        font-size: 18px; } }
    @media (min-width: 100em) {
      .box-congcu__content h3 {
        padding: 0 40px;
        font-size: 24px; } }

.box-logo__content {
  margin-top: 50px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .box-logo__content a {
    line-height: 0; }
    @media screen and (max-width: 47.9375em) {
      .box-logo__content a {
        width: 50%;
        padding: 0 20px;
        margin-bottom: 20px; } }
    @media (min-width: 48em) {
      .box-logo__content a {
        padding: 0 10px; } }
    @media (min-width: 64em) {
      .box-logo__content a {
        max-width: 150px; } }

.box-contact {
  background: #c1392b;
  font-size: 20px;
  color: #fff;
  padding: 20px 0; }
  @media (min-width: 64em) {
    .box-contact {
      font-size: 26px; } }
  .box-contact__content {
    text-align: center; }
    @media screen and (max-width: 47.9375em) {
      .box-contact__content span {
        margin-bottom: 20px;
        display: inline-block; } }
    @media (min-width: 48em) {
      .box-contact__content {
        text-align: left;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

@-o-viewport {
  zoom: 1;
  width: extend-to-zoom; }

@viewport {
  zoom: 1;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #282828;
  font-size: 16px;
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.4; }

body {
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  font-size: 14px; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 11px 0;
  z-index: 200;
  transition: .5s;
  background: url("../images/bg-header.jpg") repeat scroll 0 0 #c1392b; }
  .header a {
    color: #fff; }
  .header.sticky, .header.is-show {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 11px 0;
    transition: .5s; }
  .header__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2; }
  @media (min-width: 64em) {
    .header__mobile {
      display: none; } }
  .header__logo {
    width: 30%; }
    @media screen and (max-width: 47.9375em) {
      .header__logo {
        width: 230px; } }
  @media (min-width: 64em) {
    .header__menu {
      width: calc(100% - 30%);
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media screen and (max-width: 63.9375em) {
    .header__menu {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #c1392b;
      width: 100%;
      padding: 50px 0;
      display: none;
      overflow: auto; }
      .header__menu ul {
        width: 100%; }
      .header__menu .list-inline-item {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0; }
        .header__menu .list-inline-item a {
          padding: 10px; } }
  .header .main-menu {
    margin-bottom: 0; }
    .header .main-menu li {
      margin-right: 30px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500; }
      .header .main-menu li a {
        text-decoration: none;
        position: relative; }
        @media (min-width: 48em) {
          .header .main-menu li a {
            padding: 30px 0; } }
        .header .main-menu li a:hover:before {
          width: 100%;
          transition: .3s; }
        .header .main-menu li a:before {
          position: absolute;
          content: '';
          height: 2px;
          bottom: 0;
          width: 0;
          transition: .3s;
          background: #fff;
          border-radius: 100px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
  .header .btn {
    background: none;
    border-color: transparent;
    font-weight: 500;
    outline: none; }
    .header .btn:hover, .header .btn:focus, .header .btn:active {
      color: #fff; }
  .header .btn--outline {
    border: 2px solid #fff;
    padding: 14px 33px; }
    .header .btn--outline:hover, .header .btn--outline:focus, .header .btn--outline:active {
      background: #fff;
      color: #c1392b; }

.header-space {
  height: 76px; }

@media screen and (max-width: 63.9375em) {
  .register {
    max-width: 150px;
    text-align: center;
    margin: 0 auto; }
    .register a {
      margin-bottom: 20px; } }

.menu-icon {
  cursor: pointer;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 30px;
  z-index: 99;
  color: #fff; }
  .menu-icon i {
    border-bottom: 3px solid #fff;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .5s;
    width: 100%; }
    .menu-icon i:nth-child(2) {
      top: 50%; }
    .menu-icon i:nth-child(3) {
      top: 100%;
      opacity: 1; }

.is-show .menu-icon i:nth-child(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%; }

.is-show .menu-icon i:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.is-show .menu-icon i:nth-child(3) {
  opacity: 0; }

.footer {
  background: url("../images/bg-locate.png") no-repeat scroll center center #242628;
  color: #bfbfbf;
  padding: 50px 0 0;
  border-bottom: 50px solid #0a0c0d;
  position: relative; }
  .footer a {
    color: #bfbfbf; }
  @media (min-width: 64em) {
    .footer .info {
      font-size: 15px; } }
  .footer ul {
    margin: 0;
    padding: 0; }
    .footer ul li {
      list-style: none; }
  .footer__top {
    margin-bottom: 30px; }
    @media (min-width: 48em) {
      .footer__top {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .footer__top ul {
      margin: 0; }
  .footer__logo {
    width: 43%; }
    .footer__logo img {
      max-width: 270px; }
  @media (min-width: 48em) {
    .footer__middle {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer__middle > div {
    margin-bottom: 30px; }
    @media (min-width: 48em) {
      .footer__middle > div {
        width: calc((100% - 43%) / 3);
        margin-bottom: 30px;
        padding-right: 20px; } }
  .footer__middle p {
    margin-bottom: 0; }
  @media (min-width: 48em) {
    .footer__middle .footer__first {
      width: 43%; } }
  @media (min-width: 64em) {
    .footer .list-inline {
      font-size: 18px; } }
  .footer .list-inline li {
    position: relative;
    margin-right: 15px;
    padding-right: 15px; }
    .footer .list-inline li:before {
      content: '|';
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 100%; }
    .footer .list-inline li:last-child {
      margin: 0;
      padding: 0; }
      .footer .list-inline li:last-child:before {
        display: none; }
  .footer__bottom {
    text-align: right; }

.box-social {
  position: relative;
  bottom: -25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .box-social a {
    background: #c1392b;
    width: 50px;
    height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100px;
    font-size: 25px;
    color: #fff;
    margin-left: 10px;
    text-decoration: none; }
    .box-social a:hover {
      background: #972d22; }

.block-title {
  font-size: 18px;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 18px;
  font-weight: 500; }
  .block-title:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    background: #c1392b;
    height: 4px;
    border-radius: 50px;
    content: ''; }

.back-to-top {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer; }
  @media (min-width: 64em) {
    .back-to-top {
      top: 20px;
      right: 20px; } }
  @media (min-width: 100em) {
    .back-to-top {
      top: -40px;
      right: 30px; } }
  .back-to-top img {
    max-width: 50px; }
    @media (min-width: 100em) {
      .back-to-top img {
        max-width: 70px; } }
        .form-group {
          position: relative;
          margin-bottom: 12px;
        }

        .form-control-placeholder {
          position: absolute;
          top: 15px;
          transition: all 200ms;
          opacity: 0.5;
        }

        .form-control:focus,
        .form-control:valid {
          color: #000;
        }
        .form-control-placeholder {
          margin: 0;
          padding: 0;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control:valid + .form-control-placeholder {
          font-size: 13px;
          transform: translate3d(0, -100%, 0);
          opacity: 1;
          top: 10px;
        }

        .form-checkbox {
          margin-top: 21px;
        }
.form-checkbox p {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-checkbox input {
  margin-right: 7px;
}

.form-checkbox label {
  margin-right: 20px;
}
